@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Metal+Mania&family=Sail&display=swap');
/* font-family: 'Chelsea Market', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Sail', cursive; */

body {
  background-color: navy;
  color: goldenrod;
}

.App h1 {
  font-family: 'Sail', cursive;
}

.App h2 {
  font-family: 'Metal Mania', cursive;
}

.App p {
  font-family: 'Chelsea Market', cursive;
}