@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Metal+Mania&family=Sail&display=swap');
/* font-family: 'Chelsea Market', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Sail', cursive; */

body {
  background-color: navy;
  color: rgb(216	143	33);
  text-align: center;
  background-image: url('./images/sea_weasel_bright_bg.jpeg');
  background-color: rgb(25, 22, 22);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App h1 {
  font-family: 'Sail', cursive;
}

.App h2 {
  font-family: 'Metal Mania', cursive;
}

.App p {
  font-family: 'Chelsea Market', cursive;
}

.container {
  margin: 0 auto;
}

.opaque-canvas {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 700px;
  margin: 0px auto;
  padding-bottom: 20px;
  height: 100vh;
}

.title {
  margin-bottom: 30px;
}

.logo-type {
  width: 70%;
  margin-top: 20px;
}

.logo-mono {
  width: 20%;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cta {
  margin-bottom: 50px;
  order: 1;
  padding: 0 10px;
}

.ripple {
  background-position: center;
  transition: background 0.4s;
}

.ripple:hover {
  background-color: rgb(250, 230, 3);
  background-image: radial-gradient(circle, transparent 1%, rgb(228, 211, 21) 1%);
  background-position: center;
  background-size: 15000%;
}

.ripple:active {
  transition: background 0s;
  background-color: rgb(246, 235, 117);
  background-size: 100%;
}

.image img{
  border: 3px solid rgb(216, 143, 33);
  border-radius: 5px;
  max-width: 90%;
  height: auto;
  order: 0;
}

input {
  border: 2px solid rgb(216,	143,	33);
  border-radius: 5px;
  background-color: navy;
  color: rgb(216,	143,	33);
  padding: 10px 15px;
  margin: 0 10px 15px 10px;
}

button {
  border: 3px solid white;
  border-radius: 5px;
  background-color: rgb(218, 203, 32);
  color: navy;
  padding: 10px 15px;
  font-weight: 600;
}

.social {
  display: flex;
  justify-content: space-evenly;
  max-width: 300px;
  margin: 0 auto 20px;
  font-size: 2.5em;
}

.social a {
  text-decoration: none;
  color: inherit;
  transition: color 0.4s;
}

.social a:hover {
  color:rgb(250, 230, 3);
}

@media screen and (min-width: 750px) {
  .logo-type {
    width: 50%;
  }
  
  .logo-mono {
    width: 10%;
  }

  .content {
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.1em;
  }
  
  .cta {
    margin-bottom: 50px;
    order: 0;
    max-width: 300px;
    margin-right: 10px;
  }
  
  .image img{
    border: 3px solid rgb(216,	143,	33);
    border-radius: 5px;
    height: auto;
    margin-left: 10px;
  }

}

@media screen and (min-width: 900px) {

  .logo-type {
    width: 500px;
  }
  
  .logo-mono {
    width: 120px;
  }

  .content {
    margin-bottom: 40px;
  }

  .cta {
    font-size: 1.2em;
  }

  .social {
    margin-bottom: 50px;
  }
}